# 다음 분기 게임 설계

In [103]:
import pandas as pd

### 데이터 전처리

In [48]:
data_url = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/datasets/vgames2.csv'
data = pd.read_csv(data_url, index_col=0)

df = pd.DataFrame(data)
df.info()
# 'Year', 'Genre', 'Publisher'에 결측치 확인

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16598 entries, 1 to 16598
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         16598 non-null  object
 1   Platform     16598 non-null  object
 2   Year         16327 non-null  float64
 3   Genre        16548 non-null  object
 4   Publisher    16540 non-null  object
 5   NA_Sales     16598 non-null  object
 6   EU_Sales     16598 non-null  object
 7   JP_Sales     16598 non-null  object
 8   Other_Sales  16598 non-null  object
dtypes: float64(1), object(8)
memory usage: 1.3+ MB

In [49]:
# 출고량 단위는 표기되어있지않으나 M(백만 장)으로 추측
# 출고량 데이터 중 단위 M이 남아있거나 K(천 장)이 표기된 것 있음
# M은 제거하고 K는 0.001을 곱해 M으로 환산

for col in df.columns[-4:]:
  df[col] = df[col].replace({"K":"*1e-3", "M":""}, regex=True).apply(pd.eval)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16598 entries, 1 to 16598
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         16598 non-null  object
 1   Platform     16598 non-null  object
 2   Year         16327 non-null  float64
 3   Genre        16548 non-null  object
 4   Publisher    16540 non-null  object
 5   NA_Sales     16598 non-null  float64
 6   EU_Sales     16598 non-null  float64
 7   JP_Sales     16598 non-null  float64
 8   Other_Sales  16598 non-null  float64
dtypes: float64(5), object(4)
memory usage: 1.3+ MB

### 지역에 따라서 선호하는 게임 장르 분석

In [104]:
## 장르 결측치 제거

df_g = df.dropna(subset = ['Genre'])
sales = df.columns[-4:]
col_g = sales.insert(0, 'Genre')

def get_top3(df):
  for col in df.columns:
    print(col)
    print(df[col].sort_values(ascending=False).head(3))

# 각 지역의 장르별 시장 비중
df_g_sum = df_g[col_g].groupby('Genre').sum()
df_g_sum_per = (df_g_sum * 100 / df_g_sum.sum()).round(3)

get_top3(df_g_sum_per)

NA_Sales
Genre
Action     20.008
Sports     15.564
Shooter    13.309
Name: NA_Sales, dtype: float64
EU_Sales
Genre
Action     21.568
Sports     15.551
Shooter    12.931
Name: EU_Sales, dtype: float64
JP_Sales
Genre
Role-Playing    26.988
Action          12.354
Sports          10.591
Name: JP_Sales, dtype: float64
Other_Sales
Genre
Action     23.535
Sports     16.999
Shooter    12.957
Name: Other_Sales, dtype: float64

In [105]:
#각 지역의 장르별 평균 출고량
df_g_mean = df_g[col_g].groupby('Genre').mean().round(3)
df_g_mean

get_top3(df_g_mean)

NA_Sales
Genre
Platform    0.505
Shooter     0.445
Sports      0.291
Name: NA_Sales, dtype: float64
EU_Sales
Genre
Shooter     0.239
Platform    0.228
Racing      0.191
Name: EU_Sales, dtype: float64
JP_Sales
Genre
Role-Playing    0.233
Platform        0.148
Fighting        0.103
Name: JP_Sales, dtype: float64
Other_Sales
Genre
Shooter     0.078
Racing      0.062
Platform    0.058
Name: Other_Sales, dtype: float64

### 연도별 게임의 트렌드 분석

다음 분기 게임 설계

지역에 따라서 선호하는 게임 장르가 다를까 라는 질문에 대답을 하셔야합니다.

연도별 게임의 트렌드가 있을까 라는 질문에 대답을 하셔야합니다.

출고량이 높은 게임에 대한 분석 및 시각화 프로세스가 포함되어야 합니다.

개인적인 분석 목표, 질문